<h1>New game</h1>
<ul class="inline-list">
  <% @grid.each do |letter| %>
    <li>
      <%= letter %>
    </li>
  <% end %>
</ul>

<div>
  <form action="/score" method="POST" id="word-form">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= hidden_field_tag "grid", @grid %>
    <input type="text" name="word">
    <input type="submit" value="Play">
  </form>
</div>